:root {
    --cor-fundo: #9ad1d4;
    --cor-texto: #41220e;
    --cor-escura: #222;
    --cor-branca: #fff;
    --cor-secundaria: #666666;  
    --cor-destaque: #007bff;
    --cor-destaque-hover: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header {
    background-color: var(--cor-texto);
    color: var(--cor-branca);
    padding: 20px;
    text-align: center;
}

header button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--cor-destaque);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: var(--cor-destaque-hover);
}

nav {
    background-color: #0d3b19; /* Verde escuro */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--cor-branca);
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
}

.slide-image {
    width: 100%; /* Ajusta a largura para 100% do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
    max-height: 240px; /* Define uma altura máxima */
    object-fit: contain; /* Ajusta a imagem sem cortar, mantendo a proporção */
    display: block; /* Remove espaços indesejados em torno da imagem */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: var(--cor-branca);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--cor-texto);
    color: var(--cor-branca);
    text-align: center;
    padding: 15px;
    position: relative;
}

/* Estilos para o modo escuro */
body.dark-mode {
    --cor-fundo: #020202; /* Fundo escuro */
    --cor-texto: #ffffff; /* Texto claro */
    --cor-escura: #080808; /* Cor escura */
    --cor-branca: #000000; /* Branco */
    --cor-secundaria: #bbbbbb; /* Cinza claro */
    --cor-destaque: #1e90ff; /* Azul claro */
    --cor-destaque-hover: #1c86ee; /* Azul escuro */
    
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header.dark-mode {
    background-color: var(--cor-texto);
    color: var(--cor-branca);
}

nav.dark-mode {
    background-color: #272727; /* Cor do nav no modo escuro */
}

nav.dark-mode ul li a {
    color: var(--cor-branca);
}

.grid-item.dark-mode {
    background-color: #1c212e; /* Fundo dos itens na grade no modo escuro */
    color: var(--cor-branca);
}

footer.dark-mode {
    background-color: var(--cor-escura);
    color: var(--cor-branca);
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    transition: opacity 0.5s ease;
}

.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from { opacity: .4 } 
    to { opacity: 1 }
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgba(17, 68, 26, 0.5);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:
